/* General */
body {
  background-color: #EEEDE9;
}

h1{
  font-family:'Proxima Bold';
  font-size:60px;
  color:#191E24;
}
h2{
  font-family:'Proxima Bold';
  font-size:48px;
  color:white;

}
h3{
  font-family:'Proxima Regular';
  color:#8C89B2;
  font-size:42px;
}

@media only screen and (max-width: 800px) {
  h1{
    font-size:48px;
  }
  h2{
    font-size:30px;
  }
}

/* Background elements */
.square{
  transform: rotate(-30deg);
  background-image: linear-gradient(194deg, #713C3C 25%, #2B2E33 100%);
  border-radius: 75px;
  height:500px;
  width:500px;
  position:absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top:50px;
  z-index: -1;
  /* box-shadow: 0 19px 38px rgba(0,0,0,0.1), 0 8px 15px rgba(0,0,0,0.1); */
  /* box-shadow: 0 19px 38px 0 rgba(0,0,0,0.15), inset 0 4px 13px 0 #282828; */
}
.circle{
  transform: rotate(-30deg);
  background: #3B3F47;
  border-radius: 500px;
  height:400px;
  width:400px;
  position:absolute;
  top:50px;
  right:100px;
  z-index: -1;
  box-shadow: 0 19px 38px rgba(0,0,0,0.1), 0 8px 15px rgba(0,0,0,0.1);
  /* box-shadow: 0 19px 38px 0 rgba(0,0,0,0.15), inset 0 4px 13px 0 #282828; */
}


@media only screen and (max-width: 990px) {
  .circle{
    display:none;
  }
  .square{
    display:none;
  }
}


/* Thumbnail.js */
.project{
  height:300px;
  width:100%;  
  border-radius:15px;
  margin-top:48px;
  transition: all 0.3s;
  background-image: linear-gradient(180deg, #4A81FD 0%, #244AFB 100%);

}
.card-blue{
  background-image: linear-gradient(180deg, #4A81FD 0%, #244AFB 100%);

}
.card-yellow{
  background: #FDC830;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}
.card-green{
  background: #649173;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #DBD5A4, #649173);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #DBD5A4, #649173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.project:hover{
  cursor:pointer;
  position: relative; 
  transform: translateY(-10px);
  transition: all 0.3s;
}
a{
  color:#979797;
  transition: all 0.1s;
  text-decoration: none;

}
a:hover{
  color:white;
  transition: all 0.1s;
  text-decoration: none;  
}
.project-title{
  font-family:'Colfax Bold';
  font-size: 24px;
  padding-left:36px;
  width: 100%; 
}
.project-category{
  font-family:'Colfax Light';
  font-size: 24px;
  padding-left:36px;
}
.project-img{
  height:66%;

}


.header-content{
  max-width:1000px;
  padding-top:100px;
}
.header-logo{
  margin-bottom:24px;
  user-select: none;
  pointer-events: none;
}
.motto{
  padding-top: 24px;
  margin-bottom:200px;
}
.work-section{
  background-color: #191E24;
  padding-top:100px;
  padding-bottom:100px;
}
.plants{
  max-width:100%;
  user-select: none;
  pointer-events: none;
}