/* General */
body {
  background-color: #171717;
  color:white;
  /* margin-left:100px;
  margin-right:100px; */
}

h1{
  font-family:'Colfax Bold';
  font-size:52px;
}
@media only screen and (max-width: 600px) {
  h1{
    font-size:36px;
  }
}

h3{
  font-family:'Colfax Light';
  font-size:36px;
}

.bg-shapes{
  /* background-image: url("/assets/images/Background.svg"); */
  background:red;
  width:100%;
}
.square{
  transform: rotate(-30deg);
  background: #1E1E1E;
  border-radius: 75px;
  height:500px;
  width:500px;
  position:absolute;
  top:50px;
  left:80px;
  z-index: -1;
  box-shadow: 0 19px 38px rgba(0,0,0,0.1), 0 8px 15px rgba(0,0,0,0.1);
  /* box-shadow: 0 19px 38px 0 rgba(0,0,0,0.15), inset 0 4px 13px 0 #282828; */


}
.circle{
  transform: rotate(-30deg);
  background: #1E1E1E;
  border-radius: 500px;
  height:400px;
  width:400px;
  position:absolute;
  top:50px;
  right:100px;
  z-index: -1;
  box-shadow: 0 19px 38px rgba(0,0,0,0.1), 0 8px 15px rgba(0,0,0,0.1);
  /* box-shadow: 0 19px 38px 0 rgba(0,0,0,0.15), inset 0 4px 13px 0 #282828; */
}


@media only screen and (max-width: 990px) {
  .circle{
    /* background:none; */
  }
  .square{
    background:none;
    box-shadow:none;
  }
}

/* App.js */
.header{
  margin-bottom:36px;
  padding-top:36px;
}

.navigation{
  display:inline-block;
  padding-top: 36px;
}
@media only screen and (max-width: 990px) {
  .navigation{
    padding-left:36px;

  }
}

.item{
  margin-right:24px;
  font-size:24px;
  font-weight: 700;
  float:left;
}

/* Bootstrap */
.container{
  padding-right:0px;
  padding-left:0px;
  padding-top:36px;
  max-width:1000px;
}
@media only screen and (max-width: 990px) {
  .container{
    padding-left:36px;
    padding-right:36px;

  }
}

/* Thumbnail.js */
.project{
  height:300px;
  width:100%;  
  border-radius:15px;
  margin-top:48px;
  transition: all 0.3s;
  background-image: linear-gradient(180deg, #4A81FD 0%, #244AFB 100%);

}
.card-blue{
  background-image: linear-gradient(180deg, #4A81FD 0%, #244AFB 100%);

}
.card-yellow{
  background: #FDC830;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}
.card-green{
  background: #649173;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #DBD5A4, #649173);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #DBD5A4, #649173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.project:hover{
  cursor:pointer;
  position: relative; 
  transform: translateY(-10px);
  transition: all 0.3s;
}
a{
  color:#747474;
  transition: all 0.1s;
  text-decoration: none;

}
a:hover{
  color:white;
  transition: all 0.1s;
  text-decoration: none;  
}
.project-title{
  font-family:'Colfax Bold';
  font-size: 24px;
  padding-left:36px;
  width: 100%; 
}
.project-category{
  font-family:'Colfax Light';
  font-size: 24px;
  padding-left:36px;
}
.project-img{
  height:66%;

}

/* Homepage */
