/* base style sheet */

@import "./components/assets/fonts/colfax/style.css";


body {
  margin: 0;
  font-family: 'Colfax Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  zoom: 90%;
}
.content{
  width:100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html, body {
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.App{
  max-width:1000px;
  margin:0 auto;
}

::selection {
  background: black; /* WebKit/Blink Browsers */
  color:white;
}
::-moz-selection {
  background: rgb(0, 47, 255); /* Gecko Browsers */
  color:white;

}